## 2장. 첫 번째 추천 엔진 구축하기

제목 그대로 간단한 추천 엔진을 pandas 패키지를 이용해서 구축해 볼 것이다. 코드가 간단하므로 따라서 보면 될 것이다.

In [2]:
import pandas as pd

데이터를 불러온다.

In [3]:
ratings = pd.read_csv('../dataset/movie_rating.csv')

상단 5개 줄만 확인한다.

In [191]:
ratings.head()

          critic               title  rating
0  Jack Matthews   Lady in the Water     3.0
1  Jack Matthews   Snakes on a Plane     4.0
2  Jack Matthews   You Me and Dupree     3.5
3  Jack Matthews    Superman Returns     5.0
4  Jack Matthews  The Night Listener     3.0

shape를 확인한다.

In [192]:
data.shape

(31, 3)

index에 영화 제목, column에 평가자가 오도록 데이터를 변형해주자.

In [193]:
movie_ratings = pd.crosstab(index=data['title'], columns=[data['critic']], values=data['rating'], aggfunc=sum)

crosstab을 하면 자동으로 column name, index name에 값이 지정되서 그 부분을 수정해준다.

In [194]:
movie_ratings.columns.name = None
movie_ratings.index.name = None

In [195]:
movie_ratings

,Claudia Puig,Gene Seymour,Jack Matthews,Lisa Rose,Mick LaSalle,Toby
Just My Luck,3.0,1.5,NaN,3.0,2.0,NaN
Lady in the Water,NaN,3.0,3.0,2.5,3.0,NaN
Snakes on a Plane,3.5,3.5,4.0,3.5,4.0,4.5
Superman Returns,4.0,5.0,5.0,3.5,3.0,4.0
The Night Listener,4.5,3.0,3.0,3.0,3.0,NaN
You Me and Dupree,2.5,3.5,3.5,2.5,2.0,1.0

상관 계수를 보자. : 이 부분이 R에서의 내용이랑 다른데 왜 그런지 확인해봐야겠다.

In [196]:
movie_ratings

,Claudia Puig,Gene Seymour,Jack Matthews,Lisa Rose,Mick LaSalle,Toby
Just My Luck,3.0,1.5,NaN,3.0,2.0,NaN
Lady in the Water,NaN,3.0,3.0,2.5,3.0,NaN
Snakes on a Plane,3.5,3.5,4.0,3.5,4.0,4.5
Superman Returns,4.0,5.0,5.0,3.5,3.0,4.0
The Night Listener,4.5,3.0,3.0,3.0,3.0,NaN
You Me and Dupree,2.5,3.5,3.5,2.5,2.0,1.0

In [197]:
sim_users = movie_ratings.corr()
sim_users

,Claudia Puig,Gene Seymour,Jack Matthews,Lisa Rose,Mick LaSalle,Toby
Claudia Puig,1.000000,0.314970,0.028571,0.566947,0.566947,0.893405
Gene Seymour,0.314970,1.000000,0.963796,0.396059,0.411765,0.381246
Jack Matthews,0.028571,0.963796,1.000000,0.747018,0.211289,0.662849
Lisa Rose,0.566947,0.396059,0.747018,1.000000,0.594089,0.991241
Mick LaSalle,0.566947,0.411765,0.211289,0.594089,1.000000,0.924473
Toby,0.893405,0.381246,0.662849,0.991241,0.924473,1.000000

Toby가 평가를 안 한 영화만 골라보자.

In [198]:
rating_critic = movie_ratings['Toby']
rating_critic

Just My Luck          NaN
Lady in the Water     NaN
Snakes on a Plane     4.5
Superman Returns      4.0
The Night Listener    NaN
You Me and Dupree     1.0
Name: Toby, dtype: float64

na값인 title을 골라내자.

In [199]:
title_na_critic = rating_critic[rating_critic.isnull()]

In [200]:
title_na_critic

Just My Luck         NaN
Lady in the Water    NaN
The Night Listener   NaN
Name: Toby, dtype: float64

`title_na_critic`에 있는 영화를 평가한 데이터를 보자.

In [201]:
ratings_t = ratings[ratings.title.isin(title_na_critic.index)]
ratings_t

           critic               title  rating
0   Jack Matthews   Lady in the Water     3.0
4   Jack Matthews  The Night Listener     3.0
5    Mick LaSalle   Lady in the Water     3.0
7    Mick LaSalle        Just My Luck     2.0
10   Mick LaSalle  The Night Listener     3.0
12   Claudia Puig        Just My Luck     3.0
15   Claudia Puig  The Night Listener     4.5
16      Lisa Rose   Lady in the Water     2.5
18      Lisa Rose        Just My Luck     3.0
20      Lisa Rose  The Night Listener     3.0
25   Gene Seymour   Lady in the Water     3.0
27   Gene Seymour        Just My Luck     1.5
30   Gene Seymour  The Night Listener     3.0

**Toby**의 다른 critic에 대한 correlation 값을 가져오자.

In [202]:
sim_toby = sim_users['Toby'].reset_index()
sim_toby.columns = ['critic', 'similarity']

`sim_toby`를 `rating`에 곱해주기 위해 `ratings_t`와 `merge` 해준다. <br>
곱해주는 이유는 얼마나 Toby와 가까운 지에 따라서 가중치를 부여하기 위함이다.

In [203]:
ratings_t = pd.merge(ratings_t, sim_toby, how='left', on='critic')
ratings_t

           critic               title  rating  similarity
0   Jack Matthews   Lady in the Water     3.0    0.662849
1   Jack Matthews  The Night Listener     3.0    0.662849
2    Mick LaSalle   Lady in the Water     3.0    0.924473
3    Mick LaSalle        Just My Luck     2.0    0.924473
4    Mick LaSalle  The Night Listener     3.0    0.924473
5    Claudia Puig        Just My Luck     3.0    0.893405
6    Claudia Puig  The Night Listener     4.5    0.893405
7       Lisa Rose   Lady in the Water     2.5    0.991241
8       Lisa Rose        Just My Luck     3.0    0.991241
9       Lisa Rose  The Night Listener     3.0    0.991241
10   Gene Seymour   Lady in the Water     3.0    0.381246
11   Gene Seymour        Just My Luck     1.5    0.381246
12   Gene Seymour  The Night Listener     3.0    0.381246

In [208]:
ratings_t['sim_rating'] = ratings_t['rating'] * ratings_t['similarity']
ratings_t

           critic               title  rating  similarity  sim_rating
0   Jack Matthews   Lady in the Water     3.0    0.662849    1.988547
1   Jack Matthews  The Night Listener     3.0    0.662849    1.988547
2    Mick LaSalle   Lady in the Water     3.0    0.924473    2.773420
3    Mick LaSalle        Just My Luck     2.0    0.924473    1.848947
4    Mick LaSalle  The Night Listener     3.0    0.924473    2.773420
5    Claudia Puig        Just My Luck     3.0    0.893405    2.680215
6    Claudia Puig  The Night Listener     4.5    0.893405    4.020323
7       Lisa Rose   Lady in the Water     2.5    0.991241    2.478102
8       Lisa Rose        Just My Luck     3.0    0.991241    2.973722
9       Lisa Rose  The Night Listener     3.0    0.991241    2.973722
10   Gene Seymour   Lady in the Water     3.0    0.381246    1.143739
11   Gene Seymour        Just My Luck     1.5    0.381246    0.571870
12   Gene Seymour  The Night Listener     3.0    0.381246    1.143739

이제 `sim_rating`을 다 더한 값에 `similarity`를 더한 값을 나눠주자.  <br>
`sim_rating`은 가중치를 부여한 rating의 합이고, `similarity`의 합은 모든 가중치들의 합으로 볼 수 있다.

In [215]:
sim_rating_sum = ratings_t.groupby(['title'])['sim_rating'].sum() 
similarity_sum = ratings_t.groupby(['title'])['similarity'].sum()
result = sim_rating_sum / similarity_sum
result

title
Just My Luck          2.530981
Lady in the Water     2.832550
The Night Listener    3.347790
dtype: float64

이제 추천을 위해서 **Toby**가 선택한 영화의 평점 평균을 내보자. 위에서 구한 결과와 비교해보면 ***The Night Listener***를 추천해주면 되겠다는 결론이 나온다.

In [220]:
mean_rating = rating_critic.mean()

In [222]:
recommend_movie = result[result > mean_rating]
recommend_movie

title
The Night Listener    3.34779
dtype: float64

In [7]:
def recommend_movies(filename, username):
    ratings = pd.read_csv(filename)
    movie_ratings = pd.crosstab(index=ratings['title'], columns=[ratings['critic']], values=ratings['rating'], aggfunc=sum)
    movie_ratings.columns.name = None
    movie_ratings.index.name = None
    sim_users = movie_ratings.corr()
    rating_critic = movie_ratings[username]
    title_na_critic = rating_critic[rating_critic.isnull()]
    ratings_t = ratings[ratings.title.isin(title_na_critic.index)]
    sim_user = sim_users[username].reset_index()
    sim_user.columns = ['critic', 'similarity']
    ratings_t = pd.merge(ratings_t, sim_user, how='left', on='critic')
    ratings_t['sim_rating'] = ratings_t['rating'] * ratings_t['similarity']
    sim_rating_sum = ratings_t.groupby(['title'])['sim_rating'].sum() 
    similarity_sum = ratings_t.groupby(['title'])['similarity'].sum()
    result = sim_rating_sum / similarity_sum
    mean_rating = rating_critic.mean()
    recommend_movie = result[result > mean_rating]
    print(result)
    print(recommend_movie.index.values)

In [8]:
recommend_movies('./data/movie_rating.csv', 'Jack Matthews')

title
Just My Luck    2.150559
dtype: float64
[]