## 3장. 추천 엔진 이해

### 최근접 이웃 기반 추천 엔진

- 과거에 유사한 선호도를 가진 사람은 앞으로도 유사한 선호도를 갖는다.
- 사람의 선호도는 미래에도 확고하며 일관성을 유지할 것이다.

#### 협업 필터링 시스템
1. 장점
    - 구현이 쉽다.
    - 추천 생성 시 제품 컨텐츠 또는 사용자 정보는 필요하지 않다. <br><br>
2. 단점
    - 유사도 계산을 위한 연산 비용이 높다.
    - 사용자 정보가 없는 경우에 적합하지 않다.(**콜드 스타트 문제**)
    - 제품 컨텐츠 또는 사용자 프로필 정보가 없기 떄문에 등급 정보만으로 정확한 추천을 하기 어렵다. 
    
    
- 사용자 기반 협업 필터링: 
    - 사용자 간의 유사도를 계산하고 다른 사용자들만 본 영화들을 검토해서 현재 사용자가 아직 평가하지 않은 영화의 등급을 예측한다.
    - 과거에 유사한 취향을 지닌 사람은 미래에도 유사한 항목을 좋아할 것이다. 
    - 사용자는 계속 증가하며 실제 개개인이 평가를 하는 아이템은 얼마되지 않아 sparsity 문제가 발생하고 연산량이 너무 커진다.
    - 사용자가 빠르게 변할 경우에 유사도 값을 계속 갱신해줘야 한다. 
    - Euclidean distance <br><br>
- 아이템 기반 협업 필터링: 
    - 사용자 대신 영화 간의 유사도를 계산해서 다른 유사한 영화에 대한 주어진 기존 등급을 이용해 아직 평가하지 않은 영화의 등급을 예측한다. 
    - 사용자가 과거에 아이템 A를 좋아했다면 A와 유사한 B도 좋아할 것이다.
    - 아이템 카탈로그는 크게 변하지 않기 때문에 평가 기준을 위한 연산 주기가 그렇게 짧지 않아도 된다.
    - Cosine distance


#### 콘텐츠 기반 추천 시스템
1. 장점
    - 개인화된 서비스를 제공할 수 있다.
    - 사용자의 선호도(프로필)만을 이용해서 추천을 생성한다.
    - 많은 데이터를 불러올 필요가 없으므로 실시간으로 적용이 가능하다.
    - 등급 정보만을 다루는 것이 아니기에 협업 방식 대비 정확도가 높다.
    - 콜드 스타트 문제를 해결할 수 있다.<br><br>
2. 단점
    - 사용자 정보가 많이 유입될 수록 한 쪽 선호도로만 쏠리게 추천할 수 있다. (SF만 주구장창 보는거지) <br><br>
- 핵심 내용 
    - 제품에 대한 콘텐츠 정보를 생성한다.
    - 사용자 프로필과 제품 특징에 관련된 선호도를 생성한다.
    - 추천을 생성하고 사용자가 좋아할 만한 아이템 목록을 예측한다. 
    - tf-idf
    - 아이템 컨텐츠와 사용자 컨텐츠 간의 Cosine distance
    
#### 상황 인식 추천 시스템

개인화된 서비스를 진행하면서 상황에 맞는 아이템을 추천해줄 필요가 있어 생겨난 시스템이다. 위에서 다룬 추천 시스템에 **상황** 이라는 차원을 추가해주면 된다. (*평일, 주말, 공휴일을 구분하는 feature를 하나 추가해주는 것이다.*)
- 사전 필터링 방식
    - 상황 정보를 사용자 프로필과 제품 컨텐츠에 적용한다. 
    - 개인화 추천 생성 이전에 특징들을 필터링한다.
- 사후 필터링 방식
    - 사용자 프로필과 제품 컨텐츠를 바탕으로 개인화 추천을 생성한 뒤 상황 정보를 통해 현 상황에 적합한 제품을 필터링한다.
    
    
1. 장점
    - 사용자의 행동과 끊임없이 동기화하면서 현 상황에 맞는 추천을 생성한다.
    - 실시간 특성을 지닌다.
2. 단점
    - 우연성이 많이 배제되는 특징이 있다. (*단점일수도 있고 장점일수도 있고. 날씨도 추운데 나시를 추천 받으면 짜증나겠다.*)
    
    
#### 하이브리드 추천 시스템
앞서 소개한 협업 필터링 시스템과 컨텐츠 기반 추천 시스템을 결합해서 만든 시스템이다. 
- 가중 방식: 최종 추천을 각각의 추천 엔진의 결과의 가중합으로 결정한다. 여기서 가중치는 사용자의 반응을 통해 점차적으로 조정한다.
- 혼합 방식: 사용 가능한 모든 추천 시스템의 결과를 혼합할 수 있는 곳에 적용한다. 데이터의 희소성으로 인해 사용 가능한 모든 추천 시스템으로부터 제품 점수를 얻는 것이 불가능한 곳에 사용되며 추천 사항들은 따로 생성되어 사용자에게 전달되기 전에 혼합된다고 한다.(*도저히 무슨 말인지 모르겠다.*)
- 케스케이드 방식: 협업 필터링을 통해 추천 사항을 생성하고 컨텐츠 기반 추천 기법을 적용하여 최종 추천을 제공한다.
- 특징 조합 방식: 사용자-아이템 선호도 특징과 사용자-아이템 등급 정보를 조합하는 식의 접근을 해서 최종 추천을 제공한다.


1. 장점
    - 콜드 스타트 문제를 해결할 수 있다.
    - 개별 모델들보다 견고하고 확장 가능하다.
    - 정확도를 향상시킨다. (*ensemble을 생각해도 되겠다.*)
    
### 모델 기반 추천 시스템
앞서 본 추천 시스템들은 주로 유사도 크기를 계산해서 가중치를 주고 섞고 하는 방식이었다. 이는 연산량이 큰 문제도 있고 추천 시스템들을 섞을 때 
사람이 개입해야 한다는 큰 단점(*heuristic*)이 있기 때문에 모델을 기반으로 하는 접근 방식을 소개한다.

- 확률적 접근법: 데이터로부터 prior를 이용해 확률 모델을 생성, 사용자에 대한 확률을 계산해서 추천 목록 생성한다. Naive Bayes 등이 있다.
- 머신 러닝 접근법: 사용자, 제품 데이터에서 특징을 추출 및 분류해서 머신러닝 모델을 학습한 후 이를 이용해서 추천 목록을 생성한다. Logistic regression, KNN, Decision tree, SVM, Clustering 등이 있다. 
- 수학적 접근법: 사용자의 등급, 상호작용 정보를 단순 행렬로 정의하고 수학적 접근법으로 빠진 등급을 예측한다. 주로 행렬 인수 분해나 특이값 분해(SVD)에 사용한다. 


1. 장점
    - heuristic 기반 접근법보다 훨씬 **정확**하다.
    - 사용자 데이터나 아이템 컨텐츠의 가중치가 자동 학습으로 정해진다.
    - 보이지 않는 다양한 패턴들을 추출할 수 있다.

Euclidean distance를 구해보자. 데이터를 불러오고 정리하는 일은 2장에서 봤으니 생략하도록 하겠다.

In [1]:
import pandas as pd
import numpy as np

In [3]:
ratings = pd.read_csv('../dataset/movie_rating.csv')
movie_ratings = pd.crosstab(index=ratings['title'], columns=[ratings['critic']], 
                            values=ratings['rating'], aggfunc=sum)

In [4]:
# col1, col2를 지정한 뒤 Nan 값이 있을 경우 drop해준다. 
distance = lambda col1, col2: pd.np.linalg.norm((col1 - col2).dropna())
# apply를 2번 적용하여 전체 column에 대해 각각 거리 계산을 진행한다. 
result = movie_ratings.apply(lambda col1: movie_ratings.apply(lambda col2: distance(col1, col2)))
result

critic,Claudia Puig,Gene Seymour,Jack Matthews,Lisa Rose,Mick LaSalle,Toby
critic,,,,,,
Claudia Puig,0.000000,2.549510,2.121320,1.581139,2.179449,1.802776
Gene Seymour,2.549510,0.000000,0.500000,2.397916,2.598076,2.872281
Jack Matthews,2.121320,0.500000,0.000000,1.936492,2.500000,2.738613
Lisa Rose,1.581139,2.397916,1.936492,0.000000,1.414214,1.870829
Mick LaSalle,2.179449,2.598076,2.500000,1.414214,0.000000,1.500000
Toby,1.802776,2.872281,2.738613,1.870829,1.500000,0.000000

영화 별 Cosine distance를 구해보자.

In [87]:
# 행, 열을 transpose 해준다. 
movie_ratings_T = movie_ratings.T

In [112]:
# cosine distance의 경우 분모에 전체 항 개수로 나누는게 없기 때문에 nan 값을 0으로 채워준다. 
movie_rating_T = movie_ratings_T.fillna(0)
cosine_distance = lambda col1, col2: (col1 * col2).sum() / (((col1**2).sum())**0.5 * ((col2**2).sum())**0.5)
result = movie_ratings_T.apply(lambda col1: movie_ratings_T.apply(lambda col2: cosine_distance(col1, col2)))
result

title,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,You Me and Dupree
title,,,,,,
Just My Luck,1.000000,0.633900,0.737241,0.719452,0.893505,0.759856
Lady in the Water,0.633900,1.000000,0.795052,0.814953,0.797741,0.889757
Snakes on a Plane,0.737241,0.795052,1.000000,0.977983,0.858598,0.920032
Superman Returns,0.719452,0.814953,0.977983,1.000000,0.885722,0.968078
The Night Listener,0.893505,0.797741,0.858598,0.885722,1.000000,0.941250
You Me and Dupree,0.759856,0.889757,0.920032,0.968078,0.941250,1.000000

추천 사이트:
1. Pandas 활용해서 Column 간의 Euclidean, Correlation coeffient 구하기: https://stackoverflow.com/questions/29723560/distance-matrix-for-rows-in-pandas-dataframe